@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

body{
    background-image: url(./img/background3.png);
}

body {
    background-color: #d7d6d6;
    padding: 12px 120px 80px 120px;
}

/* ---------------HEADER--------------- */
 
header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    flex-direction: column;
    line-height: 0.5;
    justify-content: center;
    font-family: "Rubik Dirt", system-ui;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #8E8E8E;
    padding-left: 50px;
}

nav {
    background-color: #8E8E8E;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size:large;
    color: rgb(0, 0, 0);
    align-items: center;
    margin-left: 260px;
    margin-top: 20px;
}

/* ---------------MAIN--------------- */

main p {
    width: 80%;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
    font: 23px Arial, Helvetika, sans-serif;
    text-align: justify;
}

main h3 {
    width: 80%;
    text-align: center;
    margin-left: 140px;
    font: 28px Arial, Helvetika, sans-serif;
}

main .first-info {
    margin-top: 150px;
}

main .last-info {
    margin-bottom: 220px;
}

/* ---------------FOOTER--------------- */

footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #8E8E8E;
    padding: 20px 50px 20px 50px;
  }
  footer section{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 33.33%;
  }
  #contacts ul{
    list-style: none;
  }
  #contacts ul li{
    margin-top: 4px;
  }
  #contacts ul li i{
    margin-right: 5px;
  }
  footer section .title{
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 8px;
  }
  footer section nav ul{
    list-style: none;
  }
  footer section nav ul li{
    margin-bottom: 5px;
  }
  footer section nav ul li a{
    text-decoration: none;
    color: black;
  }