body{
    background-image: url(./img/desktopwallpaperBCN.jpg);
}

nav{
    position: center;
    width: 100%;
    background-color: #410009;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

nav ul{
    margin: 15px;
    padding: 27px;
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li a{
    padding: 5px;
    display: inline;
    text-decoration: none;
    font: 20px Arial, Helvetika, sans-serif;
    text-transform: uppercase;
    color: #626500;
}

.a{
    padding-left: 150px;
}

table{
    width: 80%;
    margin-top: 50px;
	margin-bottom: 130px;
    margin-left: 130px;
    margin-right: 130px;
	color: #626500;
}

table thead{
    text-transform: uppercase;
    text-decoration: underline;
    font: 17px Arial, Helvetika, sans-serif;
}

table, td{
	border: 2px rgb(244, 9, 9) dotted;
	border-collapse: collapse;
	padding: 10px;
    text-align: center;
    font: 15px Arial, Helvetika, sans-serif;
}

h3{
    text-transform: uppercase;
    font: 17px Arial, Helvetika, sans-serif;
    color: #626500;
    margin-bottom: 30px;
}

.headingtable{
    text-transform: uppercase;
    font: 17px Arial, Helvetika, sans-serif;
    color: #626500;
    margin-top: 70px;
}

.text{
    column-count: 2;
	column-gap: 50px;
	column-rule: 2px #626500 double;
    font: 14px Arial, Helvetika, sans-serif;
    color: #626500;
    margin-bottom: 130px;
}

footer{
    position: center;
    width: 100%;
    background-color: #410009;
    margin-top: 150px;
    padding: 7px;
    text-decoration: none;
    font: 10px Arial, Helvetika, sans-serif;
    text-transform: uppercase;
    color: #626500;
}

footer p a{
    text-decoration: none;
    font: 10px Arial, Helvetika, sans-serif;
    text-transform: uppercase;
    color: #0514e5;
}