body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    
    text-align: center; 
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50; 
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a, 
#navbar button, 
#navbar span {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#navbar button {
    background: none; 
    border: none;     
}


#navbar a:hover, 
#navbar button:hover {
    background-color: #34495e;
}

.nav-right {
    display: flex;
    align-items: center;
}

.view form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    margin: 0 auto; 
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}
.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

button[type="submit"], 
#add-movie-btn,
.details-btn { 
    padding: 10px 20px;
    background-color: #27ae60; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.1s;
    font-weight: bold; 
    text-transform: uppercase;
}

button[type="submit"]:hover, 
#add-movie-btn:hover,
.details-btn:hover {
    background-color: #2ecc71;
    transform: translateY(-1px); 
}

#movies-list-view {
    text-align: center; 
}

#add-movie-btn {
    width: 200px;         
    margin: 20px auto;    
    display: block; 
}

#movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding-top: 20px;
    text-align: left; 
}

.movie-card {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    display: block;
    margin-bottom: 15px;
    border-radius: 4px;
}

.movie-description {
    margin-top: 10px;
    padding: 10px;
    background-color: #ecf0f1;
    border-left: 3px solid #3498db;
    text-align: left;
    border-radius: 0 4px 4px 0;
    white-space: pre-wrap;
}

.movie-card .details-btn {
    display: block;
    width: 100%;
}